<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title> 后台管理 </title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="assets/css/ace.min.css"/>
    <link rel="stylesheet" href="assets/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="assets/css/ace-skins.min.css"/>

    <script src="assets/js/jquery-2.0.3.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/typeahead-bs2.min.js"></script>
    <script src="assets/js/ace-elements.min.js"></script>
    <script src="assets/js/ace.min.js"></script>
    <script src="assets/js/ace-extra.min.js"></script>
    <link rel="stylesheet" href="assets/css/jquery.gritter.css"/>
    <script src="assets/js/jquery.gritter.min.js"></script>
    <script src="assets/js/bootbox.min.js"></script>
</head>
<body>
<div class="main-container">
    <script src="js/set_update.js"></script>
    <h4 class="header blue">输入</h4>
    <form role="form" id="ajaxduoshuo" checkBox="user_comment_plugin" class="form-horizontal">
        <div class="form-group">
            <label for="form-field-1"
                   class="col-sm-3 control-label no-padding-right"> 多说短域名 </label>

            <div class="col-sm-9">
                <input type="text" name="short_name"
                       value="{{short_name}}" class="col-xs-10 col-sm-5"
                       placeholder="" id="form-field-1">
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1"
                   class="col-sm-3 control-label no-padding-right"> 多说密钥 </label>

            <div class="col-sm-9">
                <input type="text" name="secret" value="{{secret}}"
                       class="col-xs-10 col-sm-5" placeholder="" id="form-field-1">

            </div>
        </div>
        <div class="form-group">
            <label for="form-field-1"
                   class="col-sm-3 control-label no-padding-right"> 是否启用 </label>

            <div class="col-sm-9">
                <label>
                    <input class="ace ace-switch ace-switch-6" type="checkbox" checked="checked" name="status">
                    <span class="lbl">&nbsp;</span>
                </label>
            </div>

            <div class="space-4"></div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button id="duoshuo" type="button" class="btn btn-info">
                        <i class="icon-ok bigger-110"></i> 提交
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<input id="gritter-light" checked="" type="checkbox" class="ace ace-switch ace-switch-5" />
</body>
</html>